
<nav class="navbar navbar-expand-lg navbar-light bg-light">
      
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
            <a class="nav-link" routerLink="/master" routerLinkactive="active">Master</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/employee'" routerLinkactive="active">Employee</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/client'" routerLinkactive="active">Client</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/client-project'" routerLinkactive="active">Client Project</a>
          </li>
        </ul>
        
      
      </div>
    </nav>

<div class="container" pt-1>
  <router-outlet></router-outlet>
</div>
     

